$scheme: (
  red: (
    50: (
      #ffebee,
      #000,
    ),
    100: (
      #ffcdd2,
      #000,
    ),
    200: (
      #ef9a9a,
      #000,
    ),
    300: (
      #e57373,
      #000,
    ),
    400: (
      #ef5350,
      #000,
    ),
    500: (
      #f44336,
      #000,
    ),
    600: (
      #e53935,
      #000,
    ),
    700: (
      #d32f2f,
      #fff,
    ),
    800: (
      #c62828,
      #fff,
    ),
    900: (
      #b71c1c,
      #fff,
    ),
    A100: (
      #ff8a80,
      #000,
    ),
    A200: (
      #ff5252,
      #000,
    ),
    A300: (
      #ff1744,
      #000,
    ),
    A700: (
      #d50000,
      #000,
    ),
  ),
);
